body{
  background: linear-gradient(90deg, rgba(2,0,36,1) 15%, rgba(34,45,32,1) 47%, rgba(125,176,19,1) 97%); 
}
.movies {
  display: flex;
  justify-content: space-around;
  margin-left: 50px;
  gap:10px;
  margin-top: 90px;
  flex-wrap: wrap;
}
::-webkit-scrollbar-track
{
	border: 5px solid white;
	border-color: transparent;
	background-color: rgb(130, 193, 212);
}

::-webkit-scrollbar
{
	width: 15px;
	background-color: #e9dfe8;
}

::-webkit-scrollbar-thumb
{
	background-color: #055340;
	border-radius: 10px;
}
